
.one{
    width:20%;
    height:300px;
    background-color: gray;
}
.two{
    width:20%;
    height:300px;
    background-color: olive;
    position:relative;
    left:20%;
}
.three{
    width:20%;
    height:300px;
    background-color: slateblue;
}